<a href="https://colab.research.google.com/github/LirBast/Portafolio/blob/main/Clase_26_06_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np


df=pd.DataFrame({
    "Nombre":["Ana",np.nan,np.nan,"Pedro"],
    "Edad":[20,50,33,np.nan],
    "Ciudad":[None,"Valparaiso","Concepcion","Puerto Montt"]})
print(df)
print("------------------------------")
print(df.isnull())   ##sirve para identificar si hay valores nulos a traves de valores booleanos
print("------------------------------")
print(df.isnull().sum())   ### me suma la cantidad por columnas de valores nulos

### En Python, np.nan y None son ambos usados para representar "valores faltantes" o "ausentes",
### pero tienen diferencias importantes en su comportamiento y en c√≥mo se usan,
### especialmente en ciencia de datos y con bibliotecas como NumPy y pandas.
### Hay que tener cuidado donde se utiliza y como transforma los datos ya que pueden hacerse acciones sobres los datos

df1=pd.DataFrame({
    "A":[1,2,None]})
print("------------------------------")
print(df1.dtypes)

print("------------------------------")

df1["A"].astype("string")
print(df1.dtypes)
print(df1)

### Panda cuando hay numeros


df2=pd.DataFrame({
    "B":["Hola","Mundo",None]})
print("------------------------------")
print(df2.dtypes)


### panda cuando hay solo caracteres

In [32]:
import pandas as pd
import numpy as np

df1=pd.DataFrame({
    "A":[1,2,None]})
print("------------------------------")
print(df1.dtypes)

print("------------------------------")

df1["A"]=df1["A"].astype("string")
print(df1.dtypes)
print(df1)

------------------------------
A    float64
dtype: object
------------------------------
A    string[python]
dtype: object
      A
0   1.0
1   2.0
2  <NA>

In [31]:
import pandas as pd
import numpy as np


df2=pd.DataFrame({
    "B":["Hola","Mundo",None]})
print("------------------------------")
print(df2.dtypes)

df2["B"]=df2["B"].astype("string")
print(df2)

------------------------------
B    object
dtype: object
       B
0   Hola
1  Mundo
2   <NA>