<a href="https://colab.research.google.com/github/LirBast/Portafolio/blob/main/Clase_26_06_2025_Valores_perdidos2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd


df1=pd.DataFrame({"Nombre":["Bastian",None,"Diego"],
                  "Edad":[33,45,17]})

df1["Nombre"]=df1["Nombre"].astype("string")

print(df1)
print("-----------------------")
print(df1['Nombre'].isna())    ### Antes hay que transformar el dato a string para poder cambiarlo mas adelante porque de forma predeterminada los convierte a un object que es un valor general
print("-----------------------")
print(df1['Nombre'].isna().sum())
print("-----------------------")
##  df1["Nombre"]=df1["Nombre"].fillna("Desconocido")
print(df1)
print("-----------------------")
df1.loc[df1["Nombre"].isna() & (df1["Edad"]>33),"Nombre"] ="Mayor sin nombre"
print(df1)

    Nombre  Edad
0  Bastian    33
1     <NA>    45
2    Diego    17
-----------------------
0    False
1     True
2    False
Name: Nombre, dtype: bool
-----------------------
1
-----------------------
    Nombre  Edad
0  Bastian    33
1     <NA>    45
2    Diego    17
-----------------------
             Nombre  Edad
0           Bastian    33
1  Mayor sin nombre    45
2             Diego    17