<a href="https://colab.research.google.com/github/LirBast/Portafolio/blob/main/Clase_26_06_2025_Valores_perdidos3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

def clean_columna_TipoStrings(df, columna, reemplazo="desconocido"):
    df[columna] = df[columna].astype("string")
    df[columna] = df[columna].fillna(reemplazo)
    return df

df = pd.DataFrame({
    "Nombre": ["Ana", None, None, "Pedro"],
    "Edad": [20, 50, 33, np.nan],
    "Ciudad": [None, "Valparaiso", "Concepcion", "Puerto Montt"]})

# Aplicamos la funci√≥n a "Nombre" y luego a "Ciudad"
df = clean_columna_TipoStrings(df, "Nombre", reemplazo="sin nombre")
print(df)

print("-------------------------------------")

df = clean_columna_TipoStrings(df, "Ciudad", reemplazo="sin informacion")
print(df)

       Nombre  Edad        Ciudad
0         Ana  20.0          None
1  sin nombre  50.0    Valparaiso
2  sin nombre  33.0    Concepcion
3       Pedro   NaN  Puerto Montt
-------------------------------------
       Nombre  Edad           Ciudad
0         Ana  20.0  sin informacion
1  sin nombre  50.0       Valparaiso
2  sin nombre  33.0       Concepcion
3       Pedro   NaN     Puerto Montt

In [ ]:
import pandas as pd
import numpy as np

def clean_columna_TipoStrings(df, columna, reemplazo="desconocido"):
    df[columna] = df[columna].astype("string")
    df[columna] = df[columna].fillna(reemplazo)
    return df

df = pd.DataFrame({
    "Nombre": ["Ana", None, None, "Pedro"],
    "Edad": [20, 50, 33, np.nan],
    "Ciudad": [None, "Valparaiso", "Concepcion", "Puerto Montt"]})


columna_a_limpiar=["Nombre","Ciudad"]
for columna in columna_a_limpiar:
  df = clean_columna_TipoStrings(df,columna,reemplazo="sin informacion")

print(df)

            Nombre  Edad           Ciudad
0              Ana  20.0  sin informacion
1  sin informacion  50.0       Valparaiso
2  sin informacion  33.0       Concepcion
3            Pedro   NaN     Puerto Montt