<a href="https://colab.research.google.com/github/LirBast/Portafolio/blob/main/UEjerciciosclase27_06_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("spscientist/students-performance-in-exams")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/students-performance-in-exams

In [26]:
import os
import pandas as pd

os.listdir("/kaggle/input/students-performance-in-exams")
path2=f"/kaggle/input/students-performance-in-exams/StudentsPerformance.csv"

df = pd.read_csv(path2)
print(df)
print("------------------------------------------------------------")
print(df.head())
print("------------------------------------------------------------")
print(df.info())
print("------------------------------------------------------------")
print(df.describe())
print("------------------------------------------------------------")
print(df.isnull().sum())  ### los metodos llevan parentesis
print("------------------------------------------------------------")

q1=df["math score"].quantile(0.25)
print(q1)
print("------------------------------------------------------------")
q3=df["math score"].quantile(0.75)
print(q3)
print("------------------------------------------------------------")
iqr=q3-q1
print(f"el valor del IQR es {iqr}")
limt_inf=q1-1.5*iqr
limt_sup=q3+1.5*iqr
print(f"el valor del limite inferior es {limt_inf}")
print(f"el valor del limite superior es {limt_sup}")

print("------------------------------------------------------------")
outliers = df[(df["math score"] < limt_inf) | (df["math score"] > limt_sup)]
print(outliers)

df_sin_outliers = df[(df["math score"] >= limt_inf) & (df["math score"] <= limt_sup)]
print(df_sin_outliers)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]
------------------------------------------------------------
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
------------------------------------------------------------
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000
------------------------------------------------------------
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64
------------------------------------------------------------
57.0
------------------------------------------------------------
77.0
------------------------------------------------------------
el valor del IQR es 20.0
el valor del limite inferior es 27.0
el valor del limite superior es 107.0
------------------------------------------------------------
     gender race/ethnicity parental level of education         lunch  \
17   female        group B            some high school  free/reduced
59   female        group C            some high school  free/reduced
145  female        group C                some college  free/reduced
338  female        group B            some high school  free/reduced
466  female        group D          associate's degree  free/reduced
787  female        group B                some college      standard
842  female        group B                 high school  free/reduced
980  female        group B                 high school  free/reduced

    test preparation course  math score  reading score  writing score
17                     none          18             32             28
59                     none           0             17             10
145                    none          22             39             33
338                    none          24             38             27
466                    none          26             31             38
787                    none          19             38             32
842               completed          23             44             36
980                    none           8             24             23
     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[992 rows x 8 columns]